body {
    background-color: coral;
}
.myClass  {
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.header h2 {
    margin-top: 2rem;
    padding-bottom: 1rem;
}
 
#row1 {
    background-color: crimson;
}

#row2 {
    background-color: orchid;
}

#searchCafe {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    padding: 0 8rem 0 8rem;
    text-align: center;
}
 input:hover {
    cursor: text;
    outline-color: greenyellow;
}